.Waveform {
  height: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s ease;
  // background: rgb(86, 167, 219);
  overflow: hidden;
  border-radius: 0.25rem;

  &__content-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__canvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__intitial-waveform {
    border-radius: 0.25rem;
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
