.Waveform {
  height: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s ease;

  &__canvas {
    border-radius: 0.25rem;
  }

  .mock {
    height: 100%;
    width: 100%;
    background: white;
  }
}
