.Dial {
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  justify-items: center;
  align-items: center;

  &__knob {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    box-shadow: var(--box-shadow);
    background: var(--light-alt);
    overflow: hidden;
    position: relative;
    // border: 1px solid red;

    &__highlight {
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0.1rem;
      // background: var(--dark-main);
      background: var(--gradient);
    }

    &__background {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &__line {
      position: absolute;
      height: 1rem;
      width: 0rem;
      left: calc(50% - 1px);
      border: 1px solid hsl(37, 100%, 50%);
      border-radius: 1rem;

      &__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
      }
    }
  }
}
