.TrackLane {
  background: var(--dark-alt);
  height: 7rem;
  border-top: 1px solid var(--light-main);
  border-bottom: 1px solid var(--light-main);
  width: calc(100vw - 19.1rem);
  position: relative;
  padding: 0.25rem 0;

  .bar-lines {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    &__canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__waveform__container {
    height: 100%;
    width: 500px;
    position: relative;
    z-index: 999;
  }
}
